<ul>
<% @actions.each do |action|%>
  <li> When <%= Chimpactions::registered_class.name %> <%= action.whenn %> <%= action.is %> <%= action.value %> => <%= Chimpactions::registered_class.name %>.<%= action.action %> (<%= action.list %>) 
  </li>
<%end%>
</ul>