<ul>
<% @actions.each do |action|%>
  <li> When a <%= @registered %> <%= action.whenn %> <%= action.is %> <%= action.value %> => <%= @registered%>.<%= action.action %> (<%= action.list %>) 
  </li>
<%end%>
</ul>