<!DOCTYPE html>
<html>
<head>
  <title>ChimpActions DEMO application</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id='wrap'>
  <div id="main">
    <header class="where-am-i"> YOU ARE AT: <%= controller.controller_name -%> : <%= controller.action_name -%> </header>
<section>
<article>
<h1 class="v-large logo">chimpActions</h1>
<p>Simple MailChimp list management... </p>
<ul class="nav inlined">
  <li><%= link_to "HOME", root_url %></li>
  <li><%= link_to "DEMO", "/demo" %></li>
  <li><%= link_to "DOCUMENTATION", "doc/index.html" %></li>
  <li><%= link_to "TESTCOVERAGE", "coverage/index.html" %></li>
  <li><%= link_to "Chimpactions GEM Controller", "/chimpactions" %></li>
</ul>
</article>
</section>
    <%= yield %>
  </div>
</div>
<footer>a footer and some copyright info</footer>
</body>
</html>
